<h2>My Heroes</h2>
<div>
  <label id="name-hero">Hero name: </label>
  <input for="name-hero" #heroName />
  <label id="points-hero">Hero points: </label>
  <input type="number" for="points-hero" #heroPoints appOnlynumber/>

  <button class="add-button" 
    (click)="add(heroName.value, heroPoints.value); heroName.value=''; heroPoints.value=''">
    Add hero
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}} ({{hero.points}})
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
